<a class="col box a-scale" href="/contracts">
	<div class="box-side">
		<img src="../images/logos/openzeppelin/oz_contracts_vertical.svg" alt="OpenZeppelin Contracts" width="77px" height="88px">
	</div>
	<div class="box-main">
		<h3 class="box-heading">Use vetted contracts<i class="material-icons">keyboard_arrow_right</i></h3>
		<p class="box-description">
		OpenZeppelin Contracts is a framework of modular, reusable, secure smart contracts for the Ethereum network, written in Solidity.
		</p>
	</div>
</a>