<style>
  .footer {
    background: #282746;
    color: white;
    padding: 74px 0 20px;
    margin-bottom: 0;
  }

  .footer a {
    display: block;
    font-size: 0.98rem;
    opacity: 0.6;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .footer a:hover {
    opacity: 1;
  }

  .footer h3 {
    display: block;
    font-size: 0.98rem;
    font-weight: bold;
    color: #ffffff;
    text-transform: none;
    margin-bottom: 10px;
    text-align: left;
    font-family: "silka";
  }

  .footer .footer-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer .link-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    margin-bottom: 35px;
  }

  .footer .link-box div {
    margin-right: 45px;
    margin-bottom: 45px;
    width: 100px;
  }

  .footer .link-box div:last-child {
    margin: 0;
  }

  .footer .link-box a {
    line-height: 1.4rem;
    padding-bottom: 0.7rem;
  }

  .footer .company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer .logo {
    display: flex;
    margin-bottom: 45px;
  }

  .footer .rights a,
  .footer .rights span {
    flex-direction: row;
    bottom: 0;
    font-size: 0.8rem;
    color: #9a9cac;
  }

  .footer .rights a {
    display: inline;
    color: #c7c8d1;
    margin-left: 7px;
    border-left: 1px solid #8d8d9d;
    padding-left: 7px;
    height: 0.9rem;
    line-height: 0.9rem;
  }

  @media (min-width: 980px) {
    .footer .footer-box {
      display: flex;
      flex-direction: row;
    }

    .footer .link-box {
      flex-direction: row;
    }

    .footer .rights {
      position: absolute;
      bottom: 0;
      left: 16px;
    }
  }
  @media (max-width: 480px) {
    .footer .link-box a {
      line-height: 3rem;
    }
    .footer a,
    .footer h3 {
      font-size: 1.2rem;
    }
    .footer .link-box div {
      margin-right: 50px;
    }
  }

  @media (max-width: 321px) {
    .footer .link-box div {
      margin-right: 43px;
    }
  }
</style>

<footer class="footer">
  <div class="container footer-box">
    <div class="company">
      <div class="logo">
        <img
          src="{{ base }}/images/logos/openzeppelin/oz_main_white.svg"
          alt="OpenZeppelin logo"
        />
      </div>
    </div>
    <div class="link-box">
      <div>
        <h3>Products</h3>
        <ul>
          <li><a href="/contracts">Contracts</a></li>
          <li><a href="/defender">Defender</a></li>
        </ul>
      </div>
      <div>
        <h3>Security</h3>
        <ul>
          <li><a href="/security-audits/">Audits</a></li>
          <li><a href="/request/">Request a security audit</a></li>
        </ul>
      </div>
      <div>
        <h3>Learn</h3>
        <ul>
          <li>
            <a href="https://docs.openzeppelin.com" target="_blank" rel="noopener">Docs</a>
          </li>
          <li>
            <a href="https://forum.openzeppelin.com" target="_blank" rel="noopener"
              >Community Forum</a
            >
          </li>
          <li>
            <a href="https://ethernaut.openzeppelin.com" target="_blank" rel="noopener"
              >Ethernaut</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3>Company</h3>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li>
            <a href="https://github.com/openzeppelin" target="_blank" rel="noopener nofollow">Github</a>
          </li>
          <li>
            <a href="https://twitter.com/openzeppelin" target="_blank" rel="noopener nofollow"
              >Twitter</a
            >
          </li>          
          <li>
            <a href="../images/OpenZeppelin_Logo_Kit.zip" download>Logo Kit</a>
          </li>
          <li>
            <a href="https://blog.openzeppelin.com/" target="_blank" rel="noopener"
              >News & Events</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="rights">
      <span>© OpenZeppelin 2020</span>
      <a class="terms" href="/privacy">Privacy</a>
      <a class="terms" href="/tos">Terms of Use</a>
    </div>
  </div>
</footer>
