<style type="text/css">

.grid.p-products-grid>.row {
	flex-direction: column;
}

.pricing-card {
	background: white;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	overflow: hidden;
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
	transition: all 0.25s ease-out 0s;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	min-height: 35rem;
	width: 80%;
	align-self: center;
}

.pricing-card .pricing-card-content {
	flex: 1;
	height: 100%;
}

.pricing-card h5 {
	font-size: 0.9rem;
	font-weight: bold;
	text-align: center;
	color: #818998;
	padding-top: 1rem;
}

.pricing-card h3 {
	font-size: 2.5rem;
	font-weight: 800;
	text-align: center;
	vertical-align: baseline;
	color: #2C374B;
	padding: 1.5rem 0 2rem;
}

.pricing-card h3 .month {
	font-size: 1.25rem;
	font-weight: 500;
	color: #575C66;
	opacity: .9;
}

.pricing-card h3 .contact {
	font-size: 1.75rem;
}

.pricing-card-content li {
	opacity: 0.8;
	font-size: 1rem;
	color: #282846;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.pricing-card-content li:before {
	font-family: "Material Icons";
	content: "check";
	color: #4e5ee4;
	margin-right: 6px;
}

/* Button styles */

.pricing-card .btn { width: 100%; }
.pricing-card .btn.secondary { 
	background: white; 
	color: #575C66; 
	border: solid 1px #818998;
	box-shadow: none; 
}
.pricing-card .btn.secondary:hover { 
	background: #F5F6FF; 
	color: #4e5ee4; 
	border: solid 1px #4e5ee4;
}

@media (min-width: 1080px) {
	.grid.p-products-grid>.row {
		flex-direction: row;
		justify-content: center;
	}

	.pricing-card {
		min-height: 35rem;
		max-width: 20rem;
	}
}
</style>

<div class="grid p-products-grid">
	<div class="row">
                <div class="col pricing-card" style="min-height: 28rem; max-width: 32rem;">
			<div class="pricing-card-content">
				<h3>Complete Access</h3>
				<ul>
					<li>
						All supported L1s, L2s, and sidechains
					</li>
					<li>
						20 users per team
					</li>
					<li>
						30 contracts managed by Admin
					</li>
					<li>
						5 relayers and up to 120 TXs/hour
					</li>
					<li>
						20 autotasks and up to 120 runs/hour
					</li>
					<li>
						20 sentinels
					</li>
					<li>
						Support through our community forum
					</li>
				</ul>
			</div>
			<a href="https://defender.openzeppelin.com/" class="btn">Sign Up for Free</a>
		</div>

		

	</div>
</div>

<div style="text-align: center; margin-top: 100px;"><a href="/tos/">*Refer to TOS for additional details on rate limitations</a></div>