<style type="text/css">
.grid.p-products-grid>.row {
	flex-direction: column;
}

.p-products-grid .grid .col {
	border-radius: 6px;
	height: 150px;
	overflow: hidden;
	margin-left: 15px;
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
	cursor: pointer;
}

.p-product-card {
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	overflow: hidden;
	transform: translateZ(0px);
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
	transition: all 0.25s ease-out 0s;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	padding-top: 0;
	min-height: 500px;
	max-width: 428px;
	align-self: center;
}

.p-product-card .p-product-card-header {
	flex: 0;
	border-bottom: solid 1px #D6D6D6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 110px;
}

.p-product-card .p-product-card-header img {
	max-height: 38px;
}

.p-product-card .p-product-card-content {
	flex: 1;
	padding: 30px 0 25px;
	height: 100%;
}

.p-product-card .p-product-card-content .description {
	margin-bottom: 20px;
	opacity: 0.8;
	font-size: 0.94rem;
	color: #282846;
	line-height: 1.6;
	font-weight: 600;
}

.p-product-card-content li {
	opacity: 0.8;
	font-size: 1rem;
	color: #282846;
	line-height: 1.6;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.p-product-card-content li:before {
	font-family: "Material Icons";
	content: "check";
	color: #4e5ee4;
	margin-right: 6px;
}

.p-product-card .p-product-card-footer {
	flex: 0;
	display: flex;
	flex-direction: row;
}

.p-product-card .p-product-card-footer>.btn {
	flex: 1;
	margin-right: 10px;
}

.p-product-card .p-product-card-footer>.btn:last-child {
	margin-right: 0;
}

@media (min-width: 1080px) {
	.grid.p-products-grid>.row {
		flex-direction: row;
		justify-content: center;
	}

	.p-product-card {
		height: 550px;
	}
}
</style>

<div class="grid p-products-grid">
	<div class="row">
		<div class="col p-product-card">
			<div class="p-product-card-header">
				<img src="../images/logos/openzeppelin/oz_contracts_blue.svg">
			</div>
			<div class="p-product-card-content">
				<p class="description">
					A library of modular, reusable, secure smart contracts for the Ethereum network, written in Solidity.
				</p>
				<ul>
					<li>Leverage standard, tested, and community-reviewed contracts.</li>
					<li>Most popular library in the industry.</li>
					<li>Learn from best practices adopted by the ecosystem.</li>
					<li>Reduce your attack surface by reusing audited code.</li>
				</ul>
			</div>

			<div class="p-product-card-footer">
				<a href="/contracts" class="btn btn--secondary">Visit Site</a>
				<a href="https://docs.openzeppelin.com/contracts" class="btn btn--bordered-secondary">Go to docs</a>
			</div>

		</div>
		<div class="col p-product-card">
			<div class="p-product-card-header">
				<img src="../images/logos/openzeppelin/oz_defender_blue.png">
			</div>
			<div class="p-product-card-content">
				<p class="description">
					A platform to automate Ethereum operations and deliver high-quality products faster.
				</p>
				<ul>
					<li>Automate your smart contract administration with a clean UI.</li>
					<li>Build with private and secure transaction infrastructure.</li>
					<li>Create automated scripts to call your smart contracts.</li>
					<li>Quickly implement security best practices.</li>
				</ul>
			</div>

			<div class="p-product-card-footer">
				<a href="/defender" class="btn btn--secondary">Visit Site</a>
				<a href="https://docs.openzeppelin.com/defender" class="btn btn--bordered-secondary">Go to docs</a>
			</div>

		</div>
	</div>
</div>
