<style type="text/css">
.grid.p-products-grid>.row {
	flex-direction: column;
}

.p-products-grid .grid .col {
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.32);
	border-radius: 6px;
	height: 150px;
	overflow: hidden;
	margin-left: 15px;
	max-weight: 310px;
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
	cursor: pointer;
}

.p-product-card {
	background: #FFFFFF;
	box-shadow: 0 8px 14px 0 rgba(60, 60, 60, 0.09);
	border: 1px solid #EDEDED;
	border-radius: 6px;
	overflow: hidden;
	transform: translateZ(0px);
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
	transition: all 0.25s ease-out 0s;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	padding-top: 0;
	min-height: 500px;
	max-width: 428px;
	align-self: center;
}


.p-product-card .p-product-card-header {
	flex: 0;
	border-bottom: solid 1px #D6D6D6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 110px;
}

.p-product-card .p-product-card-header img {
	max-height: 38px;
}

.p-product-card .p-product-card-content {
	flex: 1;
	padding: 30px 0 25px;
	height: 100%;
}

.p-product-card .p-product-card-content .description {
	margin-bottom: 20px;
	opacity: 0.8;
	font-size: 0.94rem;
	color: #282846;
	line-height: 1.6;
	font-weight: 600;
}

.p-product-card .p-product-card-content .item {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.p-product-card .p-product-card-content .icon {
	color: #4E5EE4;
	margin-right: 6px;
	margin-top: 4px;
}

.p-product-card .p-product-card-content .icon>.material-icons {
	font-size: 15px;
}

.p-product-card .p-product-card-content .item .text {
	opacity: 0.8;
	font-size: 0.94rem;
	color: #282846;
	line-height: 1.6;

}

.p-product-card .p-product-card-content .item:first-child {
	flex: 0;
}

.p-product-card .p-product-card-content .item:last-child {
	flex: 1;
}

.p-product-card .p-product-card-footer {
	flex: 0;
	display: flex;
	flex-direction: row;
}

.p-product-card .p-product-card-footer>.btn {
	flex: 1;
	margin-right: 10px;
}

.p-product-card .p-product-card-footer>.btn:last-child {
	margin-right: 0;
}

@media (min-width: 1080px) {
	.grid.p-products-grid>.row {
		flex-direction: row;
		justify-content: center;
	}

	.p-product-card {
		height: 550px;
	}
}
</style>

<div class="grid p-products-grid">
	<div class="row">
		<div class="col p-product-card">
			<div class="p-product-card-header">
				<img src="../images/logos/openzeppelin/oz_contracts_blue.svg">
			</div>
			<div class="p-product-card-content">
				<p class="description">
					A library of modular, reusable, secure smart contracts for the Ethereum network, written in Solidity.
				</p>
				<ul class="item-list">
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Leverage standard, tested, and community-reviewed contracts.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Most popular library in the industry.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Learn from best practices adopted by the ecosystem.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Reduce your attack surface by reusing audited code.
						</span>
					</li>
				</ul>
			</div>

			<div class="p-product-card-footer">
				<a href="/contracts" class="btn btn--secondary">Visit Site</a>
				<a href="https://docs.openzeppelin.com" class="btn btn--bordered-secondary">Go to docs</a>
			</div>

		</div>
		<div class="col p-product-card">
			<div class="p-product-card-header">
				<img src="../images/logos/openzeppelin/oz_sdk_blue.svg">
			</div>
			<div class="p-product-card-content">
				<p class="description">
					A suite of tools to help you develop, test, upgrade, and deploy smart contracts.
				</p>
				<ul class="item-list">
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Interactive commands to accelerate local development.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Easy bug-fixing and quick iterations via smart contract upgrades.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Seamless integration with OpenZeppelin Contracts.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Multi-network support.
						</span>
					</li>
					<li class="item">
						<span class="icon">
							<i class="material-icons">check</i>
						</span>
						<span class="text">
							Compatible with Truffle.
						</span>
					</li>
				</ul>
			</div>

			<div class="p-product-card-footer">
				<a href="/sdk" class="btn btn--secondary">Visit Site</a>
				<a href="https://docs.openzeppelin.com" class="btn btn--bordered-secondary">Go to docs</a>
			</div>

		</div>
	</div>
</div>
