<a class="col box a-scale" href="/defender">
	<div class="box-side">
		<img src="../images/logos/openzeppelin/oz_sdk_vertical.svg" alt="OpenZeppelin Defender" width="60px" height="87px">
	</div>
	<div class="box-main">
		<h3 class="box-heading">Automate your workflow<i class="material-icons">keyboard_arrow_right</i></h3>
		<p class="box-description">
			Automate your Ethereum operations using OpenZeppelin Defender to deliver high-quality products faster with lower risk to users.
		</p>
	</div>
</a>
