<style type="text/css">

.p-product-card {
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	overflow: hidden;
	transform: translateZ(0px);
	will-change: transform;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0.1rem 0.3rem, rgba(0, 0, 0, 0.05) 0px 0.1rem 0.2rem, rgba(0, 0, 0, 0.05) 0px 0.5rem 1.5rem;
	transition: all 0.25s ease-out 0s;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	padding-top: 0;
	min-height: 500px;
	max-width: 428px;
	align-self: center;
}

.p-product-card .p-product-card-header {
	flex: 0;
	border-bottom: solid 1px #D6D6D6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 110px;
}

.p-product-card .p-product-card-header img {
	max-height: 38px;
}

.p-product-card .p-product-card-content {
	flex: 1;
	padding: 30px 0 25px;
	height: 100%;
}

.p-product-card .p-product-card-content .description {
	margin-bottom: 2rem;
	font-size: 1rem;
	color: #282846;
	line-height: 1.6;
	font-weight: 600;
}

.p-product-card .p-product-card-footer {
	flex: 0;
	display: flex;
	flex-direction: row;
}

.p-product-card .p-product-card-footer>.btn {
	flex: 1;
	margin-right: 10px;
}

.p-product-card .p-product-card-footer>.btn:last-child {
	margin-right: 0;
}

.p-product-card-content li {
	opacity: 0.8;
	font-size: 1rem;
	color: #282846;
	line-height: 1.6;
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.p-product-card-content li:before {
  font-family: "Material Icons";
  content: "check";
  color: #4e5ee4;
	margin-right: 6px;
}

@media (min-width: 1080px) {
	.grid.p-products-grid>.row {
		justify-content: center;
	}
}

</style>

<div class="grid p-products-grid">
	<div class="row">
		<div class="col p-product-card">

			<div class="p-product-card-header">
				<img src="../images/logos/openzeppelin/oz_securityaudits_blue.svg" alt="OpenZeppelin Security Audits logo">
			</div>

			<div class="p-product-card-content">
				<p class="description">
					The standard for smart contract security audits
				</p>
				<ul>
					<li>Hands-on approach to manually discover critical vulnerabilities that automated testing can miss.</li>
					<li>At least two auditors review every line of code.</li>
					<li>The latest research in DeFi, cryptography, and cybersecurity is used to attack your code from multiple angles.</li>
					<li>Custom reports to share findings with your community.</li>
				</ul>
			</div>

			<div class="p-product-card-footer">
				<a href="/request" class="btn btn--secondary">Request a Security Audit</a>
			</div>

		</div>
	</div>
</div>
