<a class="col box a-scale" href="/starter-kits">
	<div class="box-side">
		<img src="../images/logos/openzeppelin/oz_starter_vertical.svg" alt="OpenZeppelin Starter Kits" width="80px" height="90px">
	</div>
	<div class="box-main">
		<h3 class="box-heading">Build an application <i class="material-icons">keyboard_arrow_right</i></h3>
		<p class="box-description">
			Don't know how to start? Our React-based starter kits feature both scaffolding and tutorials to help you learn how to build your first dapp.
		</p>
	</div>
</a>