<style type="text/css">
  .team-box {
    padding-top: 20px;
    height: 255px;
    width: 19%;
    min-width: 150px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .team-img {
    margin-bottom: 2.5rem;
    border-radius: 6rem;
    background-color: grey;
    height: 120px;
    width: 120px;
    margin: auto;
    margin-bottom: 1.5rem;
    box-shadow: -2px 4px 10px 0 #f5f5f5, 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .team-box p {
    margin: 1px auto;
  }

  .team-box p.title {
    opacity: 0.9;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.31;
    text-align: center;
    color: #4a4a4a;
    font-family: 'silka';
    max-width: 100px;
  }

  .team-box p.title .last-name {
    white-space: nowrap;
  }

  .team-box p.small {
    opacity: 0.9;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
  }

  .team-box p.job-title {
    margin-bottom: 5px;
  }

  .team-container {
    margin: 20px -10px 60px;
  }

  @media (min-width: 370px) {
    .team-container {
      margin: 20px -20px 40px;
    }
  }

  @media (min-width: 900px) {
    .team-container {
      margin: 20px -20px 40px;
    }

    .team-box p.title {
      max-width: 200px;
    }
  }

  @media (max-width: 900px) {
    .team-box {
      height: 187px;
      width: 32%;
      min-width: 100px;
    }

    .team-img {
      height: 80px !important;
      width: 80px !important;
      margin-bottom: 0.5rem;
    }

    .team-box p.title {
      margin-bottom: 5px;
    }

    .team-box p.job-title {
      display: none;
    }
  }
</style>

<div class="">
  <div class="team-container">
    <div class="team-box">
      <img src="../images/team/demi.jpg" class="circle responsive-img team-img">
      <p class="title">Demian<span class="hide-on-small-only last-name"> Brener</span></p>
      <p class="small job-title">CEO</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/demibrener" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/demibrener" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/fran.jpg" class="circle responsive-img team-img">
      <p class="title">Francisco<span class="hide-on-small-only last-name"> Giordano</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/frangio" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/frangio_" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/albert.jpg" class="circle responsive-img team-img">
      <p class="title">Albert<span class="hide-on-small-only last-name"> Gozzi</span></p>
      <p class="small job-title">COO</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/albertogozzi" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/albertgozzi" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/palla.jpg" class="circle responsive-img team-img">
      <p class="title">Santiago<span class="hide-on-small-only last-name"> Palladino</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/spalladino" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/smpalladino" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/marto.jpg" class="circle responsive-img team-img">
      <p class="title">Martin<span class="hide-on-small-only last-name"> Triay</span></p>
      <p class="small job-title">Communications</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/martriay" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/martriay" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/alejo.jpg" class="circle responsive-img team-img">
      <p class="title">Alejo<span class="hide-on-small-only last-name"> Salles</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/fiiiu" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/fiiiu_" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/leo.jpg" class="circle responsive-img team-img">
      <p class="title">Leonardo<span class="hide-on-small-only last-name"> Arias</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/elopio" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/yoelopio" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/nico.jpg" class="circle responsive-img team-img">
      <p class="title">Nicolas<span class="hide-on-small-only last-name"> Venturo</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/nventuro" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/mrnventuro" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/orne.jpg" class="circle responsive-img team-img">
      <p class="title">Ornella<span class="hide-on-small-only last-name"> Cordoba</span></p>
      <p class="small job-title">Communications</p>
      <p class="small hide-on-small-only">
        <a href="https://twitter.com/ornellacordoba" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/agos.jpg" class="circle responsive-img team-img">
      <p class="title">Agostina<span class="hide-on-small-only last-name"> Blanco</span></p>
      <p class="small job-title">Design</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/blancoagostina" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/itsladywhite" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/jota.jpg" class="circle responsive-img team-img">
      <p class="title">Juan Bautista<span class="hide-on-small-only last-name"> Carpanelli</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/jcarpanelli" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/holajotola" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/sofi.jpg" class="circle responsive-img team-img">
      <p class="title">Sofia<span class="hide-on-small-only last-name"> Vissani</span></p>
      <p class="small job-title">Finance</p>
      <p class="small hide-on-small-only">
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/tincho.jpg" class="circle responsive-img team-img">
      <p class="title">Martin<span class="hide-on-small-only last-name"> Abbatemarco</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/tinchoabbate" target="_blank"><img src="../images/ic_github_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/caro.jpg" class="circle responsive-img team-img">
      <p class="title">Carolina<span class="hide-on-small-only last-name"> Jacob</span></p>
      <p class="small job-title">HR</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/carojacob" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/carolinajacob1" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/juan.jpg" class="circle responsive-img team-img">
      <p class="title">John<span class="hide-on-small-only last-name"> Neufeld</span></p>
      <p class="small job-title">Legal</p>
      <p class="small hide-on-small-only">
        <a href="https://twitter.com/johndneufeld" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/dennison.jpg" class="circle responsive-img team-img">
      <p class="title">Dennison<span class="hide-on-small-only last-name"> Bertram</span></p>
      <p class="small job-title">Development Advocate</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/crazyrabbitLTC" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/DennisonBertram" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/igor.jpg" class="circle responsive-img team-img">
      <p class="title">Igor<span class="hide-on-small-only last-name"> Yalovoy</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/ylv-io" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/ylv_io" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/rick.jpg" class="circle responsive-img team-img">
      <p class="title">Rick<span class="hide-on-small-only last-name"> Chen</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/fasteater" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/rickchenn" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/bachi.jpg" class="circle responsive-img team-img">
      <p class="title">Andres<span class="hide-on-small-only last-name"> Bachfischer</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/andresbach" target="_blank"><img src="../images/ic_github_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/nikesh.jpg" class="circle responsive-img team-img">
      <p class="title">Nikesh<span class="hide-on-small-only last-name"> Nazareth</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/nikeshnazareth" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/exceed_silence" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/austin.jpg" class="circle responsive-img team-img">
      <p class="title">Austin<span class="hide-on-small-only last-name"> Williams</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/Austin-Williams" target="_blank"><img src="../images/ic_github_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/nacho.jpg" class="circle responsive-img team-img">
      <p class="title">Ignacio<span class="hide-on-small-only last-name"> Bonilla</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/nachobonilla" target="_blank"><img src="../images/ic_github_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/eric.jpg" class="circle responsive-img team-img">
      <p class="title">Eric<span class="hide-on-small-only last-name"> Decourcy</span></p>
      <p class="small job-title">Core dev</p>
      <p class="small hide-on-small-only">
        <a href="https://github.com/ericDeCourcy" target="_blank"><img src="../images/ic_github_grey.svg"></a>
      </p>
    </div>
  </div>
</div>
