<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<style type="text/css">
		.root {
			margin-top: 70px;
		}
	</style>
	<body class="debug">
		<div class="overlay"></div>
		<div class="root">
			{% include nav.html %}
			{{ content }}
			{% include footer.html %}
		</div>
		<!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
		<script type="text/javascript" src="https://c86d64.openzeppelin.com/app/js/api.min.js" data-account="144063" data-user="131584" data-api="campaigns" async></script>
		<!-- / OptinMonster -->
	</body>
</html>
