---
layout: default
---
<style type="text/css">

  .logo {
    max-height: 2rem;
  }
  
	.page-defender .hero {
		background: #F9FAFB;
		max-height: 76vh;
		clip-path: polygon(0 0%, 100% 0, 100% 90%, 0 100%);
	}

	.hero .container {
		display: flex;
		flex-direction: row;
	}
	.hero .container div {
		width: 50%;
		text-align: left;
	}

	.hero .content {
		padding-bottom: 2rem;
	}

	.hero .description {
		margin-bottom: 3rem;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #575C66;
   }

	.hero .container img {
		max-width: 56rem;
		float: left;
		max-height: 75vh;
		margin-top: 1rem;
		padding-left: 2rem;
	}

	.defender-aliance { padding: 8rem 0; }
	.defender-aliance h6,
	.testimonials h6 {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 0em;
		text-align: center;
		text-transform: uppercase;
		color: #818998;
		margin-bottom: 3rem;
	}

	/* Features section */

  .features .centered {
    text-align: center;
    margin: 6rem auto;
    max-width: 36rem;
}
	
	.page-defender .flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}

	.page-defender .flex div { width: 29rem; }

	.page-defender .features {
		background: #F9FAFB;
		clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
		padding: 6rem 1rem;
	}

	.page-defender .features:last-of-type {
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
	}

	.page-defender .features.inverted { 
    background: white;
  }

  .page-defender .features.inverted .flex { 
    flex-direction: row-reverse;
  }

	.page-defender .features .app {
    color: #4E5DE4;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }

  .page-defender .features .app i {
    font-size: 1.25rem;
    margin-right: .5rem;
  }

  .page-defender .features .app > * {
    vertical-align: middle;
  }

  .description.max-width { max-width: 25rem;}

	.problem,
	.solution {
		font-family: 'silka';
		font-weight: bold;
		margin: 1rem 0;
		line-height: 18px;
		padding-left: 22px;
	}

	.problem:before,
	.solution:before { 
		content:'';
		background: '';
		height: 16px;
		width: 16px;
		position: absolute;
		margin-left: -22px;
	}

	.problem { color: #AA0909; }
	.problem:before { background: url('../images/defender/ic-problem.svg'); }

	.solution { color: #1F9332; margin-top: 3rem; }
	.solution:before { background: url('../images/defender/ic-solution.svg'); }


	.video-app {
		width: 32rem;
		max-width: 100%;
		height: auto;
		margin-top: 1rem;
	}

	.tabbed {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		grid-gap: 1rem;
	}

	.tabbed > [type=radio] {
		display: none;
	}

	.tabbed > label {
		font-family: 'silka';
		font-weight: bold;
		font-variant: small-caps;
		text-transform: lowercase;
		text-align: center;
		cursor: pointer;
		padding: .5em;
		color: #4E5DE4;
		justify-self: start;
	}

	.tabbed > label:nth-of-type(odd) {
		justify-self: end;
	}

	.tabbed > [type=radio]:not(:checked) + label {
		color: #818998;
	}

	.tabbed-tab-content {
		grid-column: 1 / -1;
		grid-row: 1 / 1;
	}

	.tabbed-tab-content img {
		max-width: 100%
	}

	.tabbed > [type=radio]:not(:checked) + label + .tabbed-tab-content {
		visibility: hidden;
		z-index: -1;
	}

	.pricing { 
		padding: 2rem 0 7rem; 
		background-color: #F9FAFB; 
	}
	.pricing .container { 
		text-align: center; 
		padding: 1rem;
	}

	.pricing .heading {
		margin-bottom: 2rem;
	}
	
	.testimonials {
		margin-top: 3rem;
	}

	@media (max-width: 768px) {
		.page-defender .flex, .page-defender .features.inverted .flex { flex-direction: column; }
		.page-defender .flex div { width: 100% }
		.page-defender .features { clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%); }
		.page-defender .features:last-of-type { clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%); }

		.tabbed{ text-align: center; }
		
		.page-defender .hero { min-height: 76vh; }
		.hero .container { 
			flex-direction: column; 
	    justify-content: flex-start;
	    align-items: center;
		}
		.hero .container div { width: 100%; }
		.hero .container img {
			width: 100%;
			margin: 0;
			padding-left: 0;
		}
	}

	@media (min-device-width: 1024px) and (max-device-width: 1366px) {
		.page-defender .features:last-of-type { clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%) }
	}

</style>

<main class="page page-defender">

	<nav class="p-nav p-nav--white" id="new-sub-nav">
		<div class="container">
			<div class="p-logo">
				<!-- Add defender logo-->
        <img class="logo" alt="Defender logo" src="../images/logos/openzeppelin/oz_defender_dark.svg" />
			</div>
			{% include defender-menu.html %}
		</div>
	</nav>


	<section class="section hero">
		<div class="container">
			<div class="content">
				<h1 class="heading fIu">Ship faster with the security of OpenZeppelin Defender</h1>
				<p class="description fIu">Automate smart contract operations to deliver high-quality products with lower risk – now available with an expanded set of features.</p>
				<a href="https://defender.openzeppelin.com/" class="btn cta fIu">Sign Up for Free</a>
			</div>
			<div>
				<img alt="Defender inferface" src="../images/defender/hero_low.png" />
			</div>
		</div>
	</section>

	<section class="defender-aliance">
		<div class="container">
			<h6>Trusted by top teams in the space</h6>
			{% include defender-alliance.html %}
		</div>
	</section>

	<section>

		<!-- Adim -->
		<div class="features">
      <h1 class="heading centered">The first secure operations platform for smart contracts</h1>
			<div class="container flex">
				<div>
					<div class="app"><i class="material-icons">tab</i><span>Admin</span></div>
					<h2 class="heading">
						Automate and secure all your smart contract administration
					</h2>
					<p class="description">
						Administration mistakes on protocols and applications put user funds at risk. With Defender Admin, you can seamlessly manage all smart contract administration including access controls, upgrades, and pausing. Works with popular multi-sigs including Gnosis Safe.
					</p>
				</div>

				<div class="tabbed">
					<input type="radio" id="admin-tab-1" name="admin-tab-group" checked>
					<label for="admin-tab-1">Admin Actions</label>
					<div class="tabbed-tab-content">
						<video class="video-app" autoplay loop muted playsinline>
							<source src="../images/defender/admin_actions.webm" type="video/webm" />
							<source src="../images/defender/admin_actions.mp4" type="video/mp4" />
						</video>
					</div>
					<input type="radio" id="admin-tab-2" name="admin-tab-group">
					<label for="admin-tab-2">Upgrades</label>
					<div class="tabbed-tab-content">
						<video class="video-app" autoplay loop muted playsinline>
							<source src="../images/defender/admin_upgrade.webm" type="video/webm" />
							<source src="../images/defender/admin_upgrade.mp4" type="video/mp4" />
						</video>
					</div>
				</div>
			</div>
		</div>


		
		<!-- Relay -->
		<div class="features inverted">
			<div class="container flex">
				<div>
					<div class="app"><i class="material-icons">track_changes</i><span>Relay</span></div>
					<h2 class="heading">
						Build with private and secure transaction infrastructure 
					</h2>
					<p class="description">
						Don’t spend time implementing  third-party or homegrown transaction infrastructure that is unreliable or insecure. Use Defender Relay to quickly implement private relayers with support for testnets, mainnet, layer 2 and sidechains. Increase user security with embedded key vaults, API key management, and meta-transactions.
					</p>
				</div>
				
				<div class="tabbed">
					<input type="radio" id="relay-tab-1" name="relay-tab-group" checked>
					<label for="relay-tab-1">Interface</label>
					<div class="tabbed-tab-content">
						<video class="video-app" autoplay loop muted playsinline>
							<source src="../images/defender/relay.webm" type="video/webm" />
							<source src="../images/defender/relay.mp4" type="video/mp4" />
						</video>
					</div>
					<input type="radio" id="relay-tab-2" name="relay-tab-group">
					<label for="relay-tab-2">Terminal</label>
					<div class="tabbed-tab-content">
						<img src="../images/defender/relay-terminal.svg" >
					</div>
				</div>
			</div>
		</div>

		<!-- Autotaks -->
		<div class="features">
			<div class="container flex">
				<div>
					<div class="app"><i class="material-icons">repeat</i><span>Autotasks</span></div>
					<h2 class="heading">
						Create automated scripts to call your smart contracts
					</h2>
					<p class="description">
						Homegrown bots and cron jobs are tedious to maintain and a target for hackers. With Defender Autotasks, you can easily create and run scripts in a serverless environment that call your smart contracts and other web services. Automate your operations and lower attack risk. 
					</p>
				</div>
				<video class="video-app" autoplay loop muted playsinline>
  				<source src="../images/defender/autotasks.webm" type="video/webm" />
  				<source src="../images/defender/autotasks.mp4" type="video/mp4" />
				</video>
			</div>
		</div>

		<!-- Sentinels -->
		<div class="features inverted">
			<div class="container flex">
				<div>
					<div class="app"><i class="material-icons">flare</i><span>Sentinels</span></div>
					<h2 class="heading">
						Monitor and respond to smart contract exploits
					</h2>
					<p class="description">
						Use Defender Sentinels to automatically monitor and respond to events, functions, and transaction parameters on your smart contracts. With full Autotask integration, you can add circuit breakers or automated actions so your team can respond to attacks within seconds and receive notifications via email, Slack, Telegram, or Discord.
					</p>
				</div>
				<video class="video-app" autoplay loop muted playsinline>
  				<source src="../images/defender/sentinels.webm" type="video/webm" />
  				<source src="../images/defender/sentinels.mp4" type="video/mp4" />
				</video>
			</div>
		</div>

		<!-- Advisor -->
		<div class="features">
			<div class="container flex">
				<div>
					<div class="app"><i class="material-icons">policy</i><span>Advisor</span></div>
					<h2 class="heading">
						Quickly implement security best practices
					</h2>
					<p class="description">
						Protocol complexity is increasing, leading to new vulnerabilities that you might not be aware of. Use Defender Advisor knowledgebase to stay up to date with the latest security best practices. Use step-by-step guides to implement them across development, testing, monitoring and operations.
					</p>
				</div>
				<video class="video-app" autoplay loop muted playsinline>
  				<source src="../images/defender/advisor.webm" type="video/webm" />
  				<source src="../images/defender/advisor.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
	
		<div class="features inverted">
			<div class="testimonials">
				<div class="container">
					<h6>Developers love OpenZeppelin Defender</h6>
					{% include defender-quote.html %}
				</div>
			</div>
		</div>

		<div class="features">
			<div class="pricing">
				<div class="container">
					<h2 class="heading">Start using OpenZeppelin Defender</h2>
				</div>
				{% include pricing-grid.html %}
			</div>
	</section>
</main>

<script src="/js/typed.min.js"></script>
<script src="/js/fixedSubMenu.js"></script>
<script src="/js/product-page.js"></script>
